<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="css/reset.css">
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://kit.fontawesome.com/68ba654b1f.js" crossorigin="anonymous"></script>
    <link href="https://fonts.googleapis.com/css?family=Lato:300|Poppins:600&display=swap" rel="stylesheet">
   

    <title>Sinaya Cup</title>
</head>
<body>
    <header>
        <div class="headerIcon container-fluid">
            <a href="views/index.html"><img src="/images/logo.png" alt="Sinaya Logo" height="60"></img></a>
        </div>
    </header>

    <main>
        <section class="video container-fluid">
            <div class="vidCont">
                <iframe width="560" height="315" src="https://www.youtube.com/embed/iF2vTpMO08Y" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
            </div>
        </section>

        <section class="container-fluid">
            <div class="row">
                <div class="col">
                    <i class="fas fa-leaf"></i>
                    <h3>Eco-Friendly</h3>
                    <p>
                        A single Sinaya Cup can be used throughout your menstrual cycles for two years, diverting hundreds of non-biodegradable toxic plastic napkin wastes from our landfills and environment.
                    </p>
                </div>

                <div class="col">
                    <i class="fas fa-smile"></i>
                    <h3>Comfortable</h3>
                    <p>
                        Unlike bulky pads and drying tampons, the Sinaya Cup can't be felt once properly inserted. No more annoying blood clots, plastic-induced sweat and stained skin from prolonged napkin usage.
                    </p>
                </div>

                <div class="col">
                    <i class="fas fa-umbrella"></i>
                    <h3>Waterproof</h3>
                    <p>
                        Ideal for use in water activities such as swimming, rafting, diving, surfing. Can also be used in rigorous activities and sports such as biking, trekking and mountain-climbing. Rain-proof, flood-proof and sweat-proof.
                    </p>
                </div>

                <div class="col">
                    <i class="fas fa-money-bill-alt"></i>
                    <h3>Cost-Effective</h3>
                    <p>
                        Without having to buy napkins and tampons each month, you can cut your menstrual product cost by at least a half. For each cup we sell, we will donate cups to underprivileged communities.
                    </p>
                </div>
            </div>
        </section>

        <footer>
            <h4>
                Copyright 2019 Sinaya Cup - All rights reserved.
            </h4>
        </footer>
    </main>
</body>
</html>